{% extends 'base.html.twig' %}

{% block title %}Blogger | About{% endblock %}

{% block body %}

<div class="container" style="padding-top:50px">
    <h3>This is Blogger's About</h3>
    <p>
        This site was created by Keanu Ramothibe corresponding to the given assignment. 
        <br>
        Thank you for this opportunity to showcase my skills.
    </p>
</div>

{% endblock %}